<%= link_to image_tag("rails.png", width: '32', align: 'left') + " Reddit!", root_path, :class => 'brand' %>
<div id="submit-link">
  <%= link_to 'Submit a Link', new_post_path, :class => 'link-button' %>
</div>
